//- Facebook Open Graph
mixin inc_meta_facebook(metas)
  meta(property="og:title",       content=metas.title)
  meta(property="og:type",        content='website')
  meta(property="og:description", content=metas.description)
  meta(property="og:url",         content='/')
  meta(property="og:locale",      content='ja_JP')
