/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sprite-cat-name: 'sprite-cat';
$sprite-cat-x: 0px;
$sprite-cat-y: 0px;
$sprite-cat-offset-x: 0px;
$sprite-cat-offset-y: 0px;
$sprite-cat-width: 150px;
$sprite-cat-height: 150px;
$sprite-cat-total-width: 450px;
$sprite-cat-total-height: 300px;
$sprite-cat-image: '../images/sprite.png';
$sprite-cat: (0px, 0px, 0px, 0px, 150px, 150px, 450px, 300px, '../images/sprite.png', 'sprite-cat', );
$sprite-crow-name: 'sprite-crow';
$sprite-crow-x: 150px;
$sprite-crow-y: 0px;
$sprite-crow-offset-x: -150px;
$sprite-crow-offset-y: 0px;
$sprite-crow-width: 150px;
$sprite-crow-height: 150px;
$sprite-crow-total-width: 450px;
$sprite-crow-total-height: 300px;
$sprite-crow-image: '../images/sprite.png';
$sprite-crow: (150px, 0px, -150px, 0px, 150px, 150px, 450px, 300px, '../images/sprite.png', 'sprite-crow', );
$sprite-deer-name: 'sprite-deer';
$sprite-deer-x: 0px;
$sprite-deer-y: 150px;
$sprite-deer-offset-x: 0px;
$sprite-deer-offset-y: -150px;
$sprite-deer-width: 150px;
$sprite-deer-height: 150px;
$sprite-deer-total-width: 450px;
$sprite-deer-total-height: 300px;
$sprite-deer-image: '../images/sprite.png';
$sprite-deer: (0px, 150px, 0px, -150px, 150px, 150px, 450px, 300px, '../images/sprite.png', 'sprite-deer', );
$sprite-penguin-name: 'sprite-penguin';
$sprite-penguin-x: 150px;
$sprite-penguin-y: 150px;
$sprite-penguin-offset-x: -150px;
$sprite-penguin-offset-y: -150px;
$sprite-penguin-width: 150px;
$sprite-penguin-height: 150px;
$sprite-penguin-total-width: 450px;
$sprite-penguin-total-height: 300px;
$sprite-penguin-image: '../images/sprite.png';
$sprite-penguin: (150px, 150px, -150px, -150px, 150px, 150px, 450px, 300px, '../images/sprite.png', 'sprite-penguin', );
$sprite-rabbit-name: 'sprite-rabbit';
$sprite-rabbit-x: 300px;
$sprite-rabbit-y: 0px;
$sprite-rabbit-offset-x: -300px;
$sprite-rabbit-offset-y: 0px;
$sprite-rabbit-width: 150px;
$sprite-rabbit-height: 150px;
$sprite-rabbit-total-width: 450px;
$sprite-rabbit-total-height: 300px;
$sprite-rabbit-image: '../images/sprite.png';
$sprite-rabbit: (300px, 0px, -300px, 0px, 150px, 150px, 450px, 300px, '../images/sprite.png', 'sprite-rabbit', );
$sprite-raccoon-name: 'sprite-raccoon';
$sprite-raccoon-x: 300px;
$sprite-raccoon-y: 150px;
$sprite-raccoon-offset-x: -300px;
$sprite-raccoon-offset-y: -150px;
$sprite-raccoon-width: 150px;
$sprite-raccoon-height: 150px;
$sprite-raccoon-total-width: 450px;
$sprite-raccoon-total-height: 300px;
$sprite-raccoon-image: '../images/sprite.png';
$sprite-raccoon: (300px, 150px, -300px, -150px, 150px, 150px, 450px, 300px, '../images/sprite.png', 'sprite-raccoon', );
$sprite-cat-2x-name: 'sprite-cat@2x';
$sprite-cat-2x-x: 0px;
$sprite-cat-2x-y: 0px;
$sprite-cat-2x-offset-x: 0px;
$sprite-cat-2x-offset-y: 0px;
$sprite-cat-2x-width: 300px;
$sprite-cat-2x-height: 300px;
$sprite-cat-2x-total-width: 900px;
$sprite-cat-2x-total-height: 600px;
$sprite-cat-2x-image: '../images/sprite@2x.png';
$sprite-cat-2x: (0px, 0px, 0px, 0px, 300px, 300px, 900px, 600px, '../images/sprite@2x.png', 'sprite-cat@2x', );
$sprite-crow-2x-name: 'sprite-crow@2x';
$sprite-crow-2x-x: 300px;
$sprite-crow-2x-y: 0px;
$sprite-crow-2x-offset-x: -300px;
$sprite-crow-2x-offset-y: 0px;
$sprite-crow-2x-width: 300px;
$sprite-crow-2x-height: 300px;
$sprite-crow-2x-total-width: 900px;
$sprite-crow-2x-total-height: 600px;
$sprite-crow-2x-image: '../images/sprite@2x.png';
$sprite-crow-2x: (300px, 0px, -300px, 0px, 300px, 300px, 900px, 600px, '../images/sprite@2x.png', 'sprite-crow@2x', );
$sprite-deer-2x-name: 'sprite-deer@2x';
$sprite-deer-2x-x: 0px;
$sprite-deer-2x-y: 300px;
$sprite-deer-2x-offset-x: 0px;
$sprite-deer-2x-offset-y: -300px;
$sprite-deer-2x-width: 300px;
$sprite-deer-2x-height: 300px;
$sprite-deer-2x-total-width: 900px;
$sprite-deer-2x-total-height: 600px;
$sprite-deer-2x-image: '../images/sprite@2x.png';
$sprite-deer-2x: (0px, 300px, 0px, -300px, 300px, 300px, 900px, 600px, '../images/sprite@2x.png', 'sprite-deer@2x', );
$sprite-penguin-2x-name: 'sprite-penguin@2x';
$sprite-penguin-2x-x: 300px;
$sprite-penguin-2x-y: 300px;
$sprite-penguin-2x-offset-x: -300px;
$sprite-penguin-2x-offset-y: -300px;
$sprite-penguin-2x-width: 300px;
$sprite-penguin-2x-height: 300px;
$sprite-penguin-2x-total-width: 900px;
$sprite-penguin-2x-total-height: 600px;
$sprite-penguin-2x-image: '../images/sprite@2x.png';
$sprite-penguin-2x: (300px, 300px, -300px, -300px, 300px, 300px, 900px, 600px, '../images/sprite@2x.png', 'sprite-penguin@2x', );
$sprite-rabbit-2x-name: 'sprite-rabbit@2x';
$sprite-rabbit-2x-x: 600px;
$sprite-rabbit-2x-y: 0px;
$sprite-rabbit-2x-offset-x: -600px;
$sprite-rabbit-2x-offset-y: 0px;
$sprite-rabbit-2x-width: 300px;
$sprite-rabbit-2x-height: 300px;
$sprite-rabbit-2x-total-width: 900px;
$sprite-rabbit-2x-total-height: 600px;
$sprite-rabbit-2x-image: '../images/sprite@2x.png';
$sprite-rabbit-2x: (600px, 0px, -600px, 0px, 300px, 300px, 900px, 600px, '../images/sprite@2x.png', 'sprite-rabbit@2x', );
$sprite-raccoon-2x-name: 'sprite-raccoon@2x';
$sprite-raccoon-2x-x: 600px;
$sprite-raccoon-2x-y: 300px;
$sprite-raccoon-2x-offset-x: -600px;
$sprite-raccoon-2x-offset-y: -300px;
$sprite-raccoon-2x-width: 300px;
$sprite-raccoon-2x-height: 300px;
$sprite-raccoon-2x-total-width: 900px;
$sprite-raccoon-2x-total-height: 600px;
$sprite-raccoon-2x-image: '../images/sprite@2x.png';
$sprite-raccoon-2x: (600px, 300px, -600px, -300px, 300px, 300px, 900px, 600px, '../images/sprite@2x.png', 'sprite-raccoon@2x', );
$spritesheet-width: 450px;
$spritesheet-height: 300px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($sprite-cat, $sprite-crow, $sprite-deer, $sprite-penguin, $sprite-rabbit, $sprite-raccoon, );
$spritesheet: (450px, 300px, '../images/sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 900px;
$retina-spritesheet-height: 600px;
$retina-spritesheet-image: '../images/sprite@2x.png';
$retina-spritesheet-sprites: ($sprite-cat-2x, $sprite-crow-2x, $sprite-deer-2x, $sprite-penguin-2x, $sprite-rabbit-2x, $sprite-raccoon-2x, );
$retina-spritesheet: (900px, 600px, '../images/sprite@2x.png', $retina-spritesheet-sprites, );

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
$sprite-cat-group-name: 'sprite-cat';
$sprite-cat-group: ('sprite-cat', $sprite-cat, $sprite-cat-2x, );
$sprite-crow-group-name: 'sprite-crow';
$sprite-crow-group: ('sprite-crow', $sprite-crow, $sprite-crow-2x, );
$sprite-deer-group-name: 'sprite-deer';
$sprite-deer-group: ('sprite-deer', $sprite-deer, $sprite-deer-2x, );
$sprite-penguin-group-name: 'sprite-penguin';
$sprite-penguin-group: ('sprite-penguin', $sprite-penguin, $sprite-penguin-2x, );
$sprite-rabbit-group-name: 'sprite-rabbit';
$sprite-rabbit-group: ('sprite-rabbit', $sprite-rabbit, $sprite-rabbit-2x, );
$sprite-raccoon-group-name: 'sprite-raccoon';
$sprite-raccoon-group: ('sprite-raccoon', $sprite-raccoon, $sprite-raccoon-2x, );
$retina-groups: ($sprite-cat-group, $sprite-crow-group, $sprite-deer-group, $sprite-penguin-group, $sprite-rabbit-group, $sprite-raccoon-group, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );

.icon-home {
  @include retina-sprite($icon-home-group);
}
*/
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

/*
The `retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in SCSS

@include retina-sprites($retina-groups);
*/
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
